
   <!-- Page content -->
	<div class="container mb-5">
        <div class="row mt-5">
          <div class="col-md-6 mx-auto">
            <h2>Book a Room</h2>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="checkin" class="form-label">FullName (Họ và tên)</label>
                    <input type="text" class="form-control" id="checkin" name="fullname" required>
                  </div>
                  <div class="mb-3">
                    <label for="checkin" class="form-label">CCCD</label>
                    <input type="text" class="form-control" id="checkin" name="cccd" required>
                  </div>
                  <div class="mb-3">
                    <label for="checkin" class="form-label">Email</label>
                    <input type="text" class="form-control" id="checkin" name="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="checkin" class="form-label mr">Gender (Giới tính)</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Boy (Nam)</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Girl (Nữ)</label>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="checkin" class="form-label">Phone (Số điện thoại)</label>
                    <input type="text" class="form-control" id="checkin" name="phone" required>
                  </div>
                  <div class="mb-3">
                    <label for="checkin" class="form-label">Date of birth (Ngày sinh)</label>
                    <input type="date" class="form-control" id="checkin" name="checkin" required>
                  </div>
              <div class="mb-3">
                <label for="checkin" class="form-label">Check-In Date (Ngày nhận phòng)</label>
                <input type="date" class="form-control" id="checkin" name="checkin" required>
              </div>
              <div class="mb-3">
                <label for="checkout" class="form-label">Check-Out Date (Ngày trả phòng)</label>
                <input type="date" class="form-control" id="checkout" name="checkout" required>
              </div>
              <div class="mb-3">
                <label for="guests" class="form-label">Number of Guests (Số lượng khách)</label>
                <input type="number" class="form-control" id="guests" name="guests" min="1" max="10" required>
              </div>
              <div class="mb-3">
                <label for="roomtype" class="form-label">Select Room (Chọn phòng)</label>
                <select class="form-control" id="roomtype" name="roomtype" required>
                  <option value="">Select a Room</option>
                  <option value="standard">Standard (Tiêu Chuẩn)</option>
                  <option value="deluxe">Deluxe (Sang trọng)</option>
                  <option value="suite">Suite (Thượng hạng)</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="roomtype" class="form-label">Hình thức thanh toán</label>
                <select class="form-control" id="roomtype" name="roomtype" required>
                  <option value="">Tiền mặt</option>
                  <option value="standard">Thanh toán bằng thẻ ngân hàng</option>
                </select>
              </div>
              <button type="reset" class="btn btn-danger mr">Reset</button>

              <button type="submit" class="btn btn-primary">Book Now</button>
            </form>
          </div>
        </div>
      </div>

    <!-- Footer -->