    <div class="container mb-5">
        <div class="row mt-5">
          <div class="col-md-6 mx-auto">
            <h2>Contact Us</h2>
            <hr>
            <form>
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" ng-model="contact.name">
                <div class="alert alert-danger" role="alert" ng-if="kiemTra.name==true">
                  Vui lòng nhập tên!
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" ng-model="contact.email">
                <div class="alert alert-danger" role="alert" ng-if="kiemTra.email==true">
                  {{email}}
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="5" ng-model="contact.mess"></textarea>
                <div class="alert alert-danger" role="alert" ng-if="kiemTra.mess==true">
                  Vui lòng nhập vào!
                </div>
              </div>
              <button ng-click="send()" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
