<div class="mb-3">
    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
      href="#!/add">Add product</a>
  </div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>categoryName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ds in danhsach">
            <td>{{ds.id}}</td>
            <td class="text-danger fw-semibold">{{ds.name}}</td>
            <td>{{ds.price}}</td>
            <td>{{ds.categoryName}}</td>
            <td><button ng-click="onEdit(ds.id)" class="btn btn-primary">Edit</button></td>
        </tr>
    </tbody>
</table>