<div class="mb-3">
    <label class="form-label">Name</label>
    <input ng-model="student.name" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Date of birth</label>
    <input ng-model="student.birth" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Gender</label>
    <select ng-model="student.gender" class="form-select form-select-lg mb-3" >
        <option value="1">Boy</option>
        <option value="2">Girl</option>
      </select>
</div>
<div class="mb-3">
    <label class="form-label">Mark</label>
    <input ng-model="student.mark" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Grade</label>
    <div ng-bind="student.grade" type="text" class="form-control btn btn-outline-primary">{{student.grade}} </div>
</div>
<button type="button" ng-click="check()" class="btn btn-info">Check</button>